<%= form_with(model: weather_location) do |form| %>
  <% if weather_location.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(weather_location.errors.count, "error") %> prohibited this weather_location from being saved:</h2>

      <ul>
        <% weather_location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-10">
      <%= form.label :address, style: "display: inline" %>
      <%= form.text_field :address, required: true, style: "width:80%" %>
    </div>
    <div class="col-2">
      <%= form.submit "Check Weather", class: "btn btn-primary"%>
    </div>
  </div>
<% end %>
