<div id="<%= dom_id weather_location %>">
  <h4>
    <a>Current conditions for <strong><%= weather_location.address %></strong></a><br>
    <a>Postal code: <strong><%= weather_location.postal_code %></strong></a><br>
    <a><%= weather_location.weather_description %> and a temperature of <%= weather_location.current_temperature %>°F at <%= weather_location.date_checked.to_fs(:long_ordinal) %></a>
  </h4>
</div>
